#### Allocating data to use for the project
Content:
1. Colleges names and locations
2. SAT scores
3. ACT scores
4. Degrees awarded
5. Age
6. Salary

In [1]:
import pandas as pd

In [3]:
df1 = pd.read_csv(r'C:\Users\kirat\Documents\Career Foundry\Personal Project\02 Data\Original Data\MERGED2018_19_PP.csv', index_col = False)

C:\Users\kirat\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (9,1725,1726,1727,1728,1729,1743,1815,1816,1817,1818,1823,1824,1830,1831,1879,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1909,1910,1911,1912,1913,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1983,1984,2376,2377) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6806 entries, 0 to 6805
Columns: 2383 entries, UNITID to FEDSCHCD
dtypes: float64(1977), int64(14), object(392)
memory usage: 123.7+ MB

In [5]:
df1.shape

(6806, 2383)

In [7]:
df_use = df1[['UNITID','INSTNM','CITY','STABBR','ZIP','ACCREDAGENCY','NUMBRANCH','PREDDEG','HIGHDEG','CCSIZSET','ADM_RATE',
              'LOCALE','SATVRMID','SATMTMID','SATWRMID','ACTCMMID','ACTENMID','ACTMTMID',
             'ACTWRMID','ICLEVEL','AGE_ENTRY','GRAD_DEBT_MDN','AVGFACSAL','PFTFAC','CURROPER']]

In [8]:
df_use.shape

(6806, 25)

In [9]:
df_use.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6806 entries, 0 to 6805
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   UNITID         6806 non-null   int64
 1   INSTNM         6806 non-null   object
 2   CITY           6806 non-null   object
 3   STABBR         6806 non-null   object
 4   ZIP            6806 non-null   object
 5   ACCREDAGENCY   6452 non-null   object
 6   NUMBRANCH      6806 non-null   int64
 7   PREDDEG        6806 non-null   int64
 8   HIGHDEG        6806 non-null   int64
 9   CCSIZSET       6331 non-null   float64
 10  ADM_RATE       2006 non-null   float64
 11  LOCALE         6331 non-null   float64
 12  SATVRMID       1239 non-null   float64
 13  SATMTMID       1242 non-null   float64
 14  SATWRMID       0 non-null      float64
 15  ACTCMMID       1273 non-null   float64
 16  ACTENMID       1199 non-null   float64
 17  ACTMTMID       1199 non-null   float64
 18  ACTWRMID       0 non-null      float64
 19  ICLEVEL        6806 non-null   int64
 20  AGE_ENTRY      0 non-null      float64
 21  GRAD_DEBT_MDN  6685 non-null   object
 22  AVGFACSAL      4012 non-null   float64
 23  PFTFAC         3623 non-null   float64
 24  CURROPER       6806 non-null   int64
dtypes: float64(13), int64(6), object(6)
memory usage: 1.3+ MB

In [10]:
df_use.to_csv(r'C:\Users\kirat\Documents\Career Foundry\Personal Project\02 Data\Prepared Data\data_foruse.csv', index = False)

In [11]:
df_use.PFTFAC.describe()

count    3623.000000
mean        0.593839
std         0.290545
min         0.000000
25%         0.342700
50%         0.569600
75%         0.882150
max         1.000000
Name: PFTFAC, dtype: float64

In [12]:
df_use.AVGFACSAL.describe()

count     4012.000000
mean      6858.799103
std       2534.714614
min          0.000000
25%       5200.750000
50%       6574.000000
75%       8198.500000
max      20484.000000
Name: AVGFACSAL, dtype: float64

In [13]:
df_use.GRAD_DEBT_MDN.describe()

count                  6685
unique                 1852
top       PrivacySuppressed
freq                   1378
Name: GRAD_DEBT_MDN, dtype: object